@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&display=swap');

* { 
    margin:0;
    /* border:#000 1px solid; */
    box-sizing: border-box;
}

:root{
    --fondo:#EDF6F9;
    --color-primary:#006D77;
    --color-secundary:#83C5BE;
    --color-primary-marron:#E29578;
    --color-secundary-marron: #FFDDD2;   
    --color-frio-medio:#489fb5;
    --color-frio-dark:#16697a;
}
  /* General */
html, body {
    font-family: 'Mali', cursive;
    color: var(--fondo);
    scroll-behavior: smooth;
    font-weight: 300;
    background-color: var(--color-primary);
}

/* Seccion Header */
header{    
    width: 100%;
}

nav{
    background-color: var(--color-primary);
    word-spacing: 20pt;
    width: 100%;
    float:left;
    margin-bottom: 0;
}

nav ul{    
    line-height: 80px;
    list-style: none;
}

nav ul li{    
    float:left;
}

nav ul li a{
    word-spacing: 20pt;
    padding: 0 20px;
    text-indent: 28pt;
    color:white;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav ul li:hover{
    background-color: var(--fondo);
}

nav ul li a:hover{
    color: var(--color-primary);
}

nav ul .item{
    word-spacing: 2pt;
    line-height: 22pt;
    text-indent: 28pt;
}

nav a{
    text-decoration: none;
}

nav #logo{
    float:right;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20pt;
    margin-bottom: 12pt;
    margin-top: 10pt;
}


/* Sección Home */
#home{
    height: 100vh;
    clear: both;
    margin: 12pt 0;
    background-color: var(--color-primary);
    padding: 10%;
    width: 100%;
}
#home article{
    float:left;
    line-height: normal;
    width: 50%;
    vertical-align: middle;
    padding: 20pt;
    padding-top: 10%;
    height: 100%;
}

#home img{
    float:right;
    width: 50%;
    height: 100%;
    border: var(--color-frio-dark) solid 2pt;
    padding: 4px;
}

/* Sección Evento */
#evento{
    clear: both;
    margin: 2.5%;
    background-color: rgba(131, 197, 191, 0.5);
    padding: 12pt;
    /* width: 100%;  */
}

#evento #news-1 article{
    float:right;
    line-height: normal;
    width: 44%;
    vertical-align: middle;
    padding: 20pt;
    padding-top: 10%;
    height: 100%;
}
#evento #news-2 article{
    float:left;
    line-height: normal;
    width: 44%;
    vertical-align: middle;
    padding: 20pt;
    padding-top: 10%;
    height: 100%;
}

#evento .fila-news{
    height: 60vh;
    margin: 10pt 0;
}

#evento #news-1 iframe{
    height: 100%;
    width: 50%;
    float: left;
    padding: 4px;
}
#evento #news-2 img{
    height: 100%;
    width: 50%;
    float: right;
    padding: 4px;
}

/* Sección Nosotros */
#nosotros{
    background-image: url("https://picsum.photos/id/1029/600/400");
    -moz-background-size: 100% 100%; /*Firefox 3.6*/
    -o-background-size: 100% 100%; /*opera*/
    -webkit-background-size: 100% 100%; /*Safari*/
    background-size: 100% 100%; /*estandar css3*/
}
#nosotros #acercaDe{
    height: 100vh;
    clear: both;
    width: 100%; 
    background-color: rgb(0,109,119,0.5);
}
#nosotros #acercaDe article{
    float:left;
    line-height: normal;
    width: 50%;
    vertical-align: middle;
    padding: 20pt;
    padding-top: 15%;
    height: 80%;
}

#nosotros #acercaDe img{
    float:right;
    width: 50%;
    height: 80%;
    padding: 4px;
    padding-right: 2%;
}

#nosotros #acercaDe h3{
    padding-top: 2%;
    text-align: center;
}
#nosotros #acercaDe p {
    text-align: center;
    padding-bottom: 2%;
}

/* Por debajo de 1000px */
@media screen and (max-width: 1000px){
    article{
        padding: 6pt;
        font-size:15px;
    }
}

/* Por debajo de 700px */
@media screen and (max-width: 700px){
    article{
        padding: 6pt;
        font-size:12px;
    }
}

/* Sección Registro*/
#registro{
    height: 100vh;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 0;
    clear: both;
    background-color: var(--color-primary);
    padding: 12pt;
    width: 100%; 
}
#registro article{
    border: none;
    padding-top: 12%;
    background: none;
    float:left;
    line-height: normal;
    width: 44%;
    vertical-align: middle;
    padding: 20pt;
    padding-top: 15%;
}
#registro h2{
    display: flex;
}

/*Sector formulario*/
#box-form{
    float:right;
    margin-top:10%;
    width: 50%;
}

fieldset{
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: var(--color-frio-dark) 2px solid;
}

#box-form h2{
    text-align: center;
    padding-left: 15%;
    margin-bottom: 20pt;
}

.fila-form{
    margin-bottom: 1rem;
    height: 20px;
    border: white;
    width: 100%;
}
.fila-form label{
    width: 20%;
}
.entrada{
    width: 80%;
    float:right;
    right: auto;
    line-height: 1.8;
    border: none;
    font-size: 1rem;
}

#boton{
    margin-top: 6px;
    width: 100%;
    height: 36px;
    padding: 0;
    border-color:var(--color-frio-medio)   
}

#boton input{
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    border:var(--color-frio-dark) solid 2px;    
    cursor: pointer
}

#boton input:hover{
    background-color: var(--color-primary-marron);
    color: white;
    border:none
}

/* Por debajo de 700px */
@media screen and (max-width: 700px){
    .entrada{
        width:60%;
    }
}

/*Sección Footer*/
footer{
    height: 70vh;
    background-color: var(--color-primary-marron);
}

footer #section-clima{
    height: 340px;
    margin-bottom: 0;
    background-color: var(--color-secundary-marron);
    text-align: center;
    color: black;
    padding: 20px;
    padding-top: 50px;
    
}

.contenido-clima{
    /* margin: auto;  */
    width: 300px;
    border-radius: 10px;
    font-size: small;
    padding: 1px 1px 1px 10px;
    float: left;
    margin-left: 25%;
}
.contenido-mapa{
    /* margin: auto;  */
    width: 300px;
    border-radius: 10px;
    font-size: small;
    padding: 1px 1px 1px 10px;
    float: left;
    margin-left: 1%;
}
.titulo-clima{
    text-align: start;
}
.detalle-clima{
    text-align: start;
}
footer #section-clima .contenido-clima #ciudad{
    font-size: 20px;
    font-weight: 400;
}
footer #section-clima .contenido-clima #temperatura{
    float: left;
    font-size: 30px;
    padding-top: 20px;
}
footer #section-clima .contenido-clima #fecha{
    color: var(--color-primary-marron);
    font-weight: bold;
}
footer #section-clima .contenido-clima #clima, #descripcion{
    font-weight: 500;
}


footer #section-footer{
    height: 100px;
    margin-bottom: 0;
    padding: 40px 20px 10px 20px;
}

footer #section-footer #info{
    float: left;
}
footer #section-footer #contacto{
    float: right;
}
footer #section-footer #info p{
    font-size: 18px;
    color: black;
    /* float: left; */
}
footer #section-footer #contacto a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
footer #section-footer #contacto a i{
    font-size: 18px;
    color: black;
}

#section-footer #contacto ul li{
    list-style-type: none;
    display: block;
    padding-bottom: 12px;
    float: left;
    padding-left: 10px;
}
